* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}
body {
  position: relative;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}
.modal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 999;
  cursor: pointer;
}
.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  height: 85vh;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #ffffff;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  /* overflow: scroll; */
  color: #000;
  padding: 55px 80px;
  transition: inherit;
  max-width: 95%;
}
.modal_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
  color: #424242;
  margin-bottom: 36px;
}
.modal_body input {
  width: 100%;
  height: 50px;
  padding: 17px 0 17px 31px;
  background: #efefef;
  border-radius: 5px;
  border: 1px solid transparent;
}
.first_alert,
.second_alert,
.third_alert {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: rgb(225, 5, 5);
  margin-left: auto;
  display: none;
}
.modal_body input:nth-of-type(2) {
  margin-top: 20px;
}
.modal_body textarea {
  border: none;
  width: 100%;
  padding: 30px;
  background: #efefef;
  border-radius: 5px;
  height: 250px;
  margin: 20px 0 0;
}
.modal_btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background: #55a630;
  border-radius: 5px;
  padding: 25px 61px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.modal_close {
  gap: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.close img {
  width: 100%;
  height: 100%;
}
.modal_title2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
  color: #424242;
  display: none;
}
.modal_pharagraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #424242;
  padding: 35px 0 57px;
  display: none;
}
.inst_link a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  font-size: 22px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  padding: 22px 58px;
  background-color: #55a630;
}
.inst_link {
  position: relative;
  display: none;
}
.inst_link img {
  position: absolute;
  top: -7px;
  left: -30px;
  cursor: pointer;
}
/* ------FOR RESPONSIBILITY------ */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50px;
  height: 27px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  z-index: 9999;
}
.responsive_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
.responsive_logo {
  width: 74px;
  height: 76px;
}
.responsive_phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
.responsive_phone a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #303236;
}
.responsive_logo img {
  width: 100%;
  height: 100%;
}
.overlay_burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 88;
  background-color: #000;
  opacity: 0.4;
  display: none;
}
.navbar_responsive {
  width: 368px;
  height: 796px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateX(-368px);
  transition: 0.4s;
}
.navbar_responsive {
  padding: 28px 0 118px 34px;
}
.navbar_phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  width: 100%;
}
.navbar_phone a:nth-of-type(2) {
  position: absolute;
  width: 177px;
  height: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #303236;
  margin-left: 35px;
}
.navbar_phone img {
  width: 23px;
  height: 23px;
}
.navbar_language {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin: 40px 0 50px;
}
.navbar_responsive ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 31px;
  margin-bottom: 60px;
}
.navbar_icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.navbar_responsive ul a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #424242;
}
.for_responsibility {
  display: none;
}
.checkbox {
  display: none;
}
.checkbox:checked
  + .for_responsibility
  .container
  .responsive_header
  .burger
  .second_line {
  display: none;
}
.checkbox:checked + .for_responsibility .overlay_burger {
  display: block;
}
.checkbox:checked + .for_responsibility .container .responsive_header .burger {
  transform: translateX(260px);
}
.checkbox:checked + .for_responsibility .navbar_responsive {
  transform: translateX(0px);
}
.checkbox:checked
  + .for_responsibility
  .container
  .responsive_header
  .burger
  .first_line {
  transform: rotate(-45deg);
}
.checkbox:checked
  + .for_responsibility
  .container
  .responsive_header
  .burger
  .third_line {
  transform: rotate(45deg) translate(-3px, -4px);
}
.first_line {
  width: 100%;
  height: 5px;
  transition: 0.4s;
  background-color: #55a630;
}
.second_line {
  height: 5px;
  width: 37px;
  background-color: #55a630;
  margin: 6px 0;
}
.third_line {
  width: 100%;
  height: 5px;
  transition: 0.4s;
  background-color: #55a630;
}
/* --------HEADER--------- */
header {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_contact h3 {
  margin: 0 58px 0 22px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;
  color: #424242;
  transition: 0.4s;
}
.header_contact h3:hover {
  color: #55a630;
}
.instagram {
  margin: 0 66px 0 26px;
}
.language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  transform: translateY(-1px);
}
.header_bg {
  height: 85px;
  border-bottom: 1px solid rgba(85, 166, 48, 0.5);
}
/* ------NAVBAR------ */
.navbar {
  height: 68px;
}
.navbar ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #424242;
  transition: 0.4s;
}
.navbar a:hover {
  color: #55a630;
}
input:focus {
  outline: none;
}
/* -----HERO-------- */
.hero {
  width: 100%;
  height: 588px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0;
}
.hero_img {
  height: 100%;
  width: 49.25%;
}
.hero_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero_text {
  height: 100%;
  width: 50.75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;
}
.hero_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #55a630;
}
.hero_text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 54px;
  text-transform: uppercase;
  color: #424242;
  margin: 15px 0 46px;
}
.hero_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 66px;
  width: 100%;
}
.registration {
  display: inline-block;
  height: 100%;
  width: calc((100% - 20px) / 2);
  border: none;
  background: #55a630;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.info_more {
  display: inline-block;
  height: 100%;
  width: calc((100% - 20px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #55a630;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  color: #55a630;
  transition: 0.4s;
}
.info_more:hover {
  color: #ffffff;
  background-color: #55a630;
}
/* -----PROCEDUR INFO */
.procedur_info {
  width: 100%;
  background: #d7ffd3;
  padding: 80px 44px 80px 80px;
}
.procedur_info p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #424242;
  opacity: 0.8;
}
.procedur_info p:nth-of-type(2) {
  margin: 30px 0;
}
/* -----TITLE------ */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 175px 0 75px;
}
.title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 70px;
  text-align: center;
  color: #424242;
  text-align: center;
  max-width: 70%;
}
/* ------DAYS------ */
.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 83%;
  margin: 0 auto;
  background: #ffffff;
  transition: 0.4s;
  box-shadow: 0px 4px 10px rgba(198, 198, 198, 0.3);
}
.first_day {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 26px 92px 18px 40px;
  border-bottom: 1px solid #b5b5b5;
}
.day_left {
  width: 17.25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.day_left h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  color: #424242;
}
.day_right {
  width: 82.75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.day_right h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #424242;
  opacity: 0.8;
  margin-bottom: 13px;
}
.day_right h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #55a630;
  margin: 20px 0 13px;
}
.teory {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
.teory h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #d4d8db;
}
.teory p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #424242;
  opacity: 0.8;
  margin-left: 17px;
}
.second_day {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 36px 41px 37px;
  width: 100%;
}
.day_left_second {
  width: 16.47%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.day_left_second h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  color: #424242;
}
.day_right_second {
  width: 83.53%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.day_right_second p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
  opacity: 0.8;
  max-width: 542px;
}
/* ----MINIMUM------ */
.minimum {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 180px;
}
.minimum_item {
  width: calc((100% - 50px) / 2);
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #d7ffd3;
}
.minimum_item h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 17px;
  color: #424242;
}
.minimum_item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #424242;
}
.min_first {
  padding: 0 26px 0 39px;
}
.min_first h2 {
  max-width: 379px;
}
.min_second {
  padding: 0 98px 0 47px;
}
.min_second h2 {
  max-width: 307px;
}
.min_third {
  padding: 0 62px 0 40px;
}
.min_third h2 {
  max-width: 406px;
}
.min_four {
  padding: 0 18px 0 44px;
}
.min_four h2 {
  max-width: 375px;
}
/* ------TRENER------- */
.trener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 561px;
  margin-bottom: 180px;
}
.trener_img {
  width: 33.83%;
  height: 100%;
}
.trener_img .trener_name {
  display: none;
}
.trener_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trener_text {
  width: 61.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.trener_name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.trener_name h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  color: #55a630;
  margin-bottom: 13px;
}
.trener_name h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  color: #424242;
}
.trener_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}
.trener_info p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  color: #424242;
  opacity: 0.8;
  position: relative;
}
.trener_info p::after {
  content: "";
  position: absolute;
  top: 23px;
  left: -15px;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}
/* -----EARLY------- */
.early {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ecf9eb;
  position: relative;
  padding: 110px 0 126px;
}
.early h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
}
.early p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #424242;
  max-width: 604px;
  opacity: 0.8;
  margin: 30px 0 63px;
}
.early button {
  display: inline-block;
  padding: 15px 55px;
  background-color: #55a630;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.early img {
  position: absolute;
  top: 72px;
  right: 143px;
}
/* LAST_TIME */
.last_time {
  height: 400px;
}
.last_time .swiper {
  height: 400px !important;
}
.last_time .swiper-wrapper {
  height: 400px !important;
}
.last_time .swiper-slide {
  height: 400px !important;
}
.last_times {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.last_times img {
  width: 30%;
  height: 300px;
  object-fit: cover;
}
/* ---OTHER COURCES---- */
.other_cources {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.see_all {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px 0 180px;
}
.see_all a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #424242;
  opacity: 0.8;
}
.cource_item {
  height: 583px;
  position: relative;
  width: 31%;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cource_bird {
  position: absolute;
  top: 16px;
  right: 14px;
}
.cource_item > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #424242;
  opacity: 0.8;
  padding: 15px 0 14px 16px;
}
.first_h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.4px;
  color: #4340b4;
  padding-left: 16px;
}
.first_h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.8;
  background: #4340b4;
  border-radius: 9px;
  width: 166px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23px 0 24px 16px;
}
.cource_man {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cource_man_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.cource_man_info h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #424242;
  opacity: 0.8;
  padding-left: 16px;
}
.cource_man_info p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #424242;
  opacity: 0.8;
  padding: 54px 0 54px 31px;
}
.cource_man_info p::after {
  content: "";
  position: absolute;
  background: #5351c4;
  opacity: 0.8;
  width: 2px;
  height: 104px;
  top: 72px;
  left: 20px;
}
.cource_item h5 {
  padding-left: 17px;
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #424242;
  opacity: 0.8;
}
.cource_registration_first {
  background: #4340b4;
  width: 100%;
  border: none;
  height: 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cource_info_first {
  background: rgba(83, 81, 196, 0.1);
  display: inline-block;
  width: 100%;
  height: 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4340b4;
}
.second_h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.4px;
  color: #55a630;
  padding-left: 16px;
}
.second_h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.8;
  background: #55a630;
  border-radius: 9px;
  width: 166px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23px 0 24px 16px;
}
.cource_registration_second {
  background: #55a630;
  width: 100%;
  border: none;
  height: 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cource_info_second {
  background: rgba(83, 81, 196, 0.1);
  display: inline-block;
  width: 100%;
  height: 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #55a630;
}
.third_h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.4px;
  color: #1d8195;
  padding-left: 16px;
}
.third_h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.8;
  background: #00a896;
  border-radius: 9px;
  width: 166px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23px 0 24px 16px;
}
.cource_registration_third {
  background: #00a896;
  width: 100%;
  border: none;
  height: 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cource_info_third {
  background: rgba(83, 81, 196, 0.1);
  display: inline-block;
  width: 100%;
  height: 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00a896;
}
/* ----FOOTER------- */
footer {
  display: flex;
  align-items: center;
  height: 774px;
  margin: 0 auto;
}
.footer_map {
  width: 50%;
  height: 100%;
}
.goverment_480 {
  display: none;
}
.footer_text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #424242;
  padding: 37px 0 43px 45px;
}
.footer_phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 50px 0 25px;
  transition: 0.4s;
}
.footer_phone:hover {
  color: #55a630;
}
.footer_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 84px;
}
.footer_nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 95px;
}
.left_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
.right_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
.footer_text ul a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.8;
  transition: 0.4s;
}
.footer_text ul a:hover {
  color: #55a630;
}
.footer_icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 39px;
  margin: 85px 0 48px;
}
.goverment {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.8;
}
